@model MissierSystem.Models.TonModality.RaffleBusinessCollaborator


@{
    ViewData["Title"] = "Página Inicial";
}


<div>
    <nav class="navbar navbar-expand-lg navbar-dark text-light" style="background-color: black">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/image/geral/logo/missier7.png" width="100px" /></a>
            @*<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/image/geral/logo/mainLogoPageOriginal128x9.png" width="50px" /></a>*@
            <div>
                <span class="lead">Olá @Model.FirstName, seja bem-vindo!</span>
            </div>
        </div>
    </nav>
</div>

<div class="container-fluid">
    <!--Informações Pessoais do Colaborador-->
    <div class="row">
        <div class="col-sm-6 col-lg-6 mt-3">
            <div class="accordion accordion-flush" id="raffleUserInformationsPayment">
                <div class="accordion-item">
                    <h2 class="accordion-header " id="flush-raffleUserInformations-3">
                        <button class="accordion-button collapsed lead" type="button" data-bs-toggle="collapse" data-bs-target="#flush-raffleUserInformations-collapse3" aria-expanded="false" aria-controls="flush-raffleUserInformations-collapse3">
                            <span>Suas <strong> Informações Pessoais</strong></span>
                        </button>
                    </h2>
                    <div id="flush-raffleUserInformations-collapse3" class="accordion-collapse collapse" aria-labelledby="flush-raffleUserInformations-1" data-bs-parent="#raffleUserInformationsPayment">
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <div>
                                    <span class="lead"><b>Nome:</b> @Model.FullName </span>
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <div>
                                    <span class="lead">Tipo de Chave: <b>@Model.PixType</b> | </span>
                                    <span class="lead ">Chave: <b>@Model.PixKey</b> </span>
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <div>
                                    <span class="lead"><b>Número de Telefone:</b> @Model.Phone </span>
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <div>
                                    <span class="lead"><b>Email:</b> @Model.Email </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-sm-6 col-lg-6 mt-3">
            <div class="accordion accordion-flush" id="raffleUserInformationsPayment2">
                <div class="accordion-item">
                    <h2 class="accordion-header " id="flush-raffleUserInformations-2">
                        <button class="accordion-button collapsed lead" type="button" data-bs-toggle="collapse" data-bs-target="#flush-raffleUserInformations-collapse2" aria-expanded="false" aria-controls="flush-raffleUserInformations-collapse2">
                            <span>Suas <strong> Informações do Sistema</strong></span>
                        </button>
                    </h2>
                    <div id="flush-raffleUserInformations-collapse2" class="accordion-collapse collapse" aria-labelledby="flush-raffleUserInformations-2" data-bs-parent="#raffleUserInformationsPayment2">
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <div>
                                    <span class="lead">Seu Convite: <b>@Model.PersonalCode.ToUpper()</b>  </span>
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <div>
                                    <span class="lead">Período Atual: <b>@DateTime.Now.Date.ToString("MM/yyyy")</b>  </span>
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <div>
                                    <span class="lead">Valor do Periodo Atual: <b>@Model.YourCash.ToString("C2")</b> </span>
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <div>
                                    <span class="lead ">Porcentagem do Convite: <b>@Model.YourCashPercentage.ToString().Replace(",", ".") %</b> </span>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--Informações de Controle-->
    <div class="bg-dark" style="border-radius: 10px 10px; min-height: 600px">
        <div class="row mt-5  text-light">
            <div class="col-sm-12 mb-1 mt-2 text-center ">
                <span class="display-5">Registro de Pagamentos</span>
                <hr style="width: 40%; margin-left:auto; margin-right: auto;" />
            </div>
            <div class="col-sm-12 col-lg-12 p-4">

                @foreach (var register in Model.PeriodRegisters)
                {
                    <div class="list-group mb-2" style="box-shadow: black 5px 5px ">
                        <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Período: @register.PeriodTime.ToString("MM/yyyy")</h5>
                                @if (register.IsPayed)
                                {
                                    <small><b>Pago:</b> @register.PaymentDate.ToString("dd/MM/yyyy HH:mm")</small>
                                }
                            </div>
                            <p class="mb-1">Valor: @register.PeriodValue.ToString("C2")</p>
                            @if (register.IsPayed)
                            {
                                <p class="mb-1">Status: <b style="color:green">PAGO</b></p>
                            }
                            else
                            {
                                <p class="mb-1">Status: <b style="color:red">PENDENTE</b></p>

                            }
                            <small><b>Outras Informações:</b> @register.Observation</small>
                            @if (!String.IsNullOrEmpty(register.ReceiptFile))
                            {
                                var data = register.PeriodTime.ToString("MM/yyyy") + " - " + register.PeriodValue.ToString("C2");
                                <small class="btn btn-success float-end" onclick="ShowReceiptModal('@register.ReceiptFile', '@data')" 
                                       data-bs-toggle="modal" data-bs-target="#receiptModal" >Ver Comprovante</small>

                            }
                        </a>
                    </div>
                }
            </div>
        </div>

    </div>


</div>


<!-- Modal -->
<div class="modal fade" id="receiptModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Comprovante de Pagamento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <span class="lead mb-2" id="info"></span>
                <img src="" width="100%" id="receiptModalImage" alt="Comprovante" title="Comprovante de Pagamento Missier" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<script>
    function ShowReceiptModal(receipt, info) {
        document.getElementById('receiptModalImage').setAttribute("src", receipt);
        document.getElementById('info').innerText = info;
    }
</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
