@model MissierSystem.Models.TonModality.RaffleBusinessCollaborator

@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>RaffleBusinessCollaborator</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Identity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Identity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PixType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PixType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PixKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PixKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YourCash)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YourCash)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Removed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Removed)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
