@{
    ViewData["Title"] = "Ton Sorteios e Rifas";
}

<div>
    <nav class="navbar navbar-expand-lg navbar-dark text-light" style="background-color: black">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/image/geral/logo/mainLogoPageOriginal128x9.png" />Missier</a>
            <div>
                <span class="lead">Olá, seja bem-vindo!</span>
            </div>
        </div>
    </nav>
</div>

<div class="container-fluid">
    <div class=" mt-3">
        @if (ViewBag.Participant != null)
        {
            @foreach (var p in ViewBag.Participant)
            {
        <div class="my-3 bg-dark text-light p-3" style="border-radius: 10px 10px">
            <span><b>Nome</b>: @p.FullName</span><br />
            <span><b>Prêmio</b>: @p.RafflePremiation</span><br />
            <span><b>Valor do número</b>: @p.Value.ToString("C2", ViewBag.Currency)</span><br />
            <span><b>Quantidade Comprada</b>: @p.NumberQuantity</span><br />
            <span><b>Total</b>: @p.TotalValue</span><br />

            @if (p.RaffleStatus == 3)
            {
                <span>Status: <b class="text-success">Pago</b></span><br />
            }
            else
            {
                <span>Status: <b class="text-warning">Pendente</b></span><br />
            }

            <span><b>Telefone</b>: @p.PhoneNumber</span><br />

            @{var selector = "numbers" + p.Id.ToString() + p.NumberQuantity.ToString();}

        <p class="mt-2">
            <button class="btn btn-info" type="button" data-bs-toggle="collapse" data-bs-target="#@selector" aria-expanded="false" aria-controls="@selector">
                Ver Números
            </button>

            @if (!String.IsNullOrEmpty(p.ReferenceId))
            {
                var reference = "reference" + p.Id.ToString() + p.NumberQuantity.ToString();

                <span class="btn btn-success" onclick="preparePayment('@reference')"> Pagar Meus Números</span>
                <input type="hidden" value="@p.ReferenceId" name="@reference" id="@reference" />
            }

        </p>
            <div>
                <div class="collapse collapse-horizontal" id="@selector">
                    <div class="card card-body text-dark lead">
                        @p.Numbers
                    </div>
                </div>
            </div>

        </div>

            }
        }


        <script src="https://sdk.mercadopago.com/js/v2"></script>

        <script>

            function preparePayment(reference) {

                var id = document.getElementById(reference).value;
                const mp = new MercadoPago('APP_USR-fa5bb9d2-8fa1-47af-a936-6bac506b1ee2' /*'TEST-f89c1425-efa8-4655-aa37-613fe20a1312'*/, {
                    locale: 'pt-BR'
                });

                const checkout = mp.checkout({
                    preference: {
                        id: id
                    },
                    autoOpen: true,
                });
            }
 
        </script>
